
.card {
    border: 1px solid #E9E9E9;
    box-shadow: 0px 2px 4px #00000012;
    transition: box-shadow .3s;
    padding: 10px 35px 10px 35px;
    width: 100%;
}

.pull-left {
    float: left;
}

.label-name{
    margin-top: 8px;
}

.card-body{
    background-color: #ffffff;
    padding: 10px 35px 10px 35px;
}

.content{
    padding: 20px 45px 20px 45px;
    .content-values{
        padding-top : 25px;
        
    }
    .errorMsg {
        color: #cc0000;
        margin-bottom: 12px;
        margin-top: 10px;
        font-size: 15px;
      }
}



h1{
    font-size: 21px;
}

.hrLine {
    height: 1px;
    background-color: #EAEAEA;
    margin: 15px -15px 0 -15px;
}

.input-range__label--max{
	right:1px;
}
.input-range__slider{
	background:#DA2128 !important;
	border:2px solid #D9D9D9 !important;
}
.slider .input-range__track--active{
	background:#DA2128 !important;
}
.input-range__label{
	font-size: 14px !important;
	color: #333333 !important;
}

.slider {
  .input-range__track--active {
    background: black;
  }
}

.calculator_left_content {
    margin: 0px auto;
    border: 1px solid #e5e5e5;
    background: #f6f6f6;
    overflow: hidden;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 400px;
    .calculator_content{
        padding: 20px 35px 20px 95px;
    }
}