@import "../node_modules/bootstrap/scss/bootstrap";

body{
    line-height: 19px;
    font-weight: normal;
    margin: 0px;
    // font-size: 20px;
}

.wrapper{
    background-color: #f0f0f0;
    padding: 76px 76px 50px 76px;
}


