@import "../node_modules/bootstrap/scss/bootstrap";

body{
    line-height: 19px;
    font-weight: normal;
    margin: 0px;
    // font-size: 20px;
}

.wrapper{
    background-color: #f0f0f0;
    padding: 76px 76px 50px 76px;
}


.card {
    border: 1px solid #E9E9E9;
    box-shadow: 0px 2px 4px #00000012;
    transition: box-shadow .3s;
    padding: 10px 35px 10px 35px;
    width: 100%;
}

.card-body{
    background-color: #ffffff;
    padding: 10px 35px 10px 35px;
}

h1{
    font-size: 21px;
}
